
body{
    background-image: url(ciudad.jfif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.col h1{
    font-size: 300%;
color: blueviolet;
text-align: center;

}